*{
    margin: 0;
    padding: 0;
    background-color: white;
}

body{
    background-image:url("./Imagenes/fondo rosas.jpeg") ;
}
main{
    min-height: 73vh;
    font-size: 18px;
}
form label{
    margin: 1px;
    color: brown;
}
h1,b,input{
    color: #d31d6a;
}
h1{
    margin-bottom: 1rem;
    font-size: 2em;
}
footer p{
    margin: 1px;
}

a{
    text-decoration: none;
}
li {
    display: inline-block;
}

b {
 text-shadow: 0.0625rem 0.0625rem black;
}

strong,label{ 
    color: blueviolet;
}

cite{
    color: #1c9a22;
    text-shadow: 0.125rem 1,0.3125rem black;
}

input{
    background-color:#eb1bc53a;
    text-align: center;
}

::placeholder{
    color: rgb(255, 0, 149);
    text-align: center;
}

.derecha,.izquierda{
    background-color: pink;
}
.centro{
    background-color: #1c9a22;
    float: left;
    width: 60%;
}
.derecha,.izquierda,.centro{
    float:left;
    width: 20%;
}
#hexadecimal{
	font-size: 35px;
	color: #1c9a22;
	display: block;
	text-transform: uppercase;
	margin: 15px;
}

.color button{
	cursor: pointer;
	background: none;
	outline: none;
	font-size: 15px;
	color: #1c9a22;
	border: 3px solid #1c9a22;
	border-radius: 25px;
	padding: 10px 15px;
	transition: transform .3s ease
}

.color button:hover{
	transform: scale(1.1);
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #1c9a22;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.hex:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
